* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Lato', sans-serif;
}

.main {
    background-color: lightcyan;
}

.contenedor {
    display: flex;
}

.image-contain {
    background-image: url("./hero.jpg");
    background-size: cover;
    width: 40%;
    min-height: 800px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image-contain>* {
    padding: 10px;
}

.image-contain>h3 {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3px;
}

.image-contain>p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px
}

.contenido-contain {
    width: 60%;
    padding: 20px;
    color: white;
    background-color: #15181d;
}

.head {
    padding: 10px;
    text-align: left;
}

.head>* {
    list-style: none;
}

.head>ul {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.head>h1 {
    font-size: 40px;
    padding: 30px;
    font-weight: 900;
}

.head>ul>li {
    margin-left: 20px;
}

.head>ul>li>a {
    width: 100%;
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 1px 8px;
    text-align: center;
}

.head>ul>li>a,
i {
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
    color: white;
}

.contenido-contain>.head>p {
    padding-left: 20px;
    color: grey;
}

.form {
    padding: 30px;
    padding-top: 0;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

form>div {
    margin-top: 15px;
}

.block {
    grid-column: 1/4;
}

form>.left {
    margin-top: 20px;
    width: 150px;
    background-color: #025ED6;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.check-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    color: grey;
}

.flex-input {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 700;
}

.flex-input>label>span {
    color: red;
}

.flex-input>input {
    margin-top: 5px;
    height: 40px;
    background-color: hsl(228, 15%, 13%);
    padding-left: 5px;
    outline: none;
    border: none;
}


/* media query */

@media only screen and (max-width:600px) {
    .contenedor {
        flex-direction: column;
    }
    .image-contain {
        min-height: 400px;
        width: 100vw;
        background-position: center;
    }
    .contenido-contain {
        width: 100vw;
    }
    .grilla {
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .check-box {
        font-size: 10px;
        text-align: justify;
    }
    .check-box>* {
        padding-left: 5px;
    }
    form>.left {
        height: 50px;
    }
}